<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-4">
      <h1 class="text-center">Agenda de Contatos</h1>
      <p class="text-center lead">Seus constatos estao abaixo</p>      

      <!-- mensagens de erro -->
      <div class="row">
        <div class="col my-3">
          <div class="alert alert-danger">Um erro qualquer</div>
        </div>
      </div>

      <!-- Template da tabela de erros -->
      <div class="responsive-table">
        <table class="table table-hover my-3">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nome</th>
              <th scope="col">Sobrenome</th>
              <th scope="col">Telefone</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <th scope="row">1</th>
              <td>Fulano</td>
              <td>da Silva</td>
              <td>12312411</td>
              <td>email@email.com</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/foot') %>
