<%- include('includes/head') %>

<section class="container">
  <h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, dicta?
  </h1>
  <form action="/contato" method="POST">
    <label for="nome">Cliente</label>
    <input type="text" name="nome" />
    <button>Enviar</button>
  </form>
</section>

<%- include('includes/foot') %>
